[submodule "old-site"]
	path = old-site
	url = git@github.com:Lydzje/old-site
[submodule "nice-music-ghpage"]
	path = nice-music-ghpage
	url = git@github.com:Lydzje/nice-music-ghpage
[submodule "newPersonalPage"]
	path = newPersonalPage
	url = git@github.com:Lydzje/newPersonalPage
[submodule "first-java-game"]
	path = first-java-game
	url = git@github.com:Lydzje/first-java-game
